<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}" />
  <meta itemprop="brand" content="{{ product.vendor }}" />
  <meta itemprop="description" content="{{ product.metafields.global.description_tag }}" />
  <meta itemprop+"">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="{{ product.price | money_without_currency }}" />
    <meta itemprop="priceCurrency" content="USD" />
    <meta itemprop="availability" content="http://schema.org/InStock" />
    <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
  </div>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="{{ product.metafields.yotpo.reviews_average }}" />
    <meta itemprop="reviewCount" content="{{ product.metafields.yotpo.reviews_count }}" />
  </div>
</div>
